{% extends 'core/base.html' %}

{% load static %}

{% block title %}{{title}}{% endblock %}

{% block header_content %}
<div class="container bg-dark text-white p-2 my-4 text-center">
    <h2>Listado de Empleados</h2>
</div>
{% endblock %}

{% block main_content %}
<div class="container my-4">
    <div class="row">
        <ul>
            
        </ul>
    </div>
    <div class="row">
        <a class="btn btn-outline-success" href="{% url 'create-employee' %}">Nuevo Empleado</a>
    </div>
</div>
{% endblock %}